@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
}

body {
  width: min(650px, 100%);
  height: 100vh;
  margin-inline: auto;
  padding: 1rem;
  background-color: #fafafa;

  font-family: "Roboto";
  line-height: 1.65;
}

.tab {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  background-color: #3f51b5;
}

.tab__header {
  display: flex;
  justify-content: space-between;

  padding-inline: 1.25rem;
  padding-block: 0.75rem;
  width: 100%;

  color: white;
  cursor: pointer;

  transition: margin 300ms ease;
}

.tab:not(:first-of-type) .tab__toggle:checked ~ .tab__header {
  margin-top: 1rem;
}

.tab:not(:last-of-type) .tab__toggle:checked ~ .tab__content {
  margin-bottom: 1rem;
}

.tab__header::after {
  content: "\276F"; /** ARROW RIGHT **/
  transform: rotate(90deg);
}

.tab__toggle:checked ~ .tab__header::after {
  transform: rotate(270deg); /** 90 + 180 **/
}

.tab__toggle {
  display: none;
}

.tab__content {
  max-height: 35vh; /** ANY BIG NUMBER **/
  padding-inline: 1.25rem;
  padding-block: 1rem 1.5rem;

  background-color: white;
  overflow: hidden;

  transition-property: max-height, padding, margin;
  transition-duration: 300ms;
}

.tab__toggle:not(:checked) ~ .tab__content {
  max-height: 0;
  padding-block: 0;
}
